{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="small-10 columns small-offset-1 panel meta">
    <select id="select" placeholder="Who is tops?"></select>
    <div class="info">
        <div class="details">
          <div class="details_image">
            <img class="thumbnail" src="" />
          </div>
          <div class="details_text">
            <textarea id="tops_text"> </textarea>
          </div>
          <a class="tops_button button" href="#">
            <img class="thumbs" src="{{ url_for('static', filename='img/thumbs-up-transparent.svg') }}" />
          </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/tops_index.js')}}"></script>
{% endblock %}
