{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="small-12 columns text-center tops-points ">
  You have<br />
  <span class="huge">{{ points }}</span><br />
  tops points available to spend.
  </div>
</div>
<div class="row">
  <div class="small-10 columns small-offset-1 panel">
    {% for redeemable in redeemables %}
    <div class="media-object">
        <div class="media-object-section">
          <div class="th">
            <img src= "{{ redeemable.image }}">
          </div>
        </div>
        <div class="media-object-section media-details">
          <h4>{{ redeemable.name }}</h4>
          <p>{{ redeemable.description }}</p>
        </div>
        <a href="#" data-redeemable="{{redeemable.id}}" class="redeem-button button">
          <div>
          <h3 class="white">
            <img class="little_thumb" src="{{ url_for('static', filename='img/thumbs-up-transparent.svg') }}" />
            {{ redeemable.value }}
          </h3>
          Redeem
        </div>
        </a>
      </div>
      {% if not loop.last %}
      <hr />
      {% endif %}
  <!-- </div>
    <div>
      <img src="{{ redeemable.image }}" />
      {{redeemable.name}} {{redeemable.description}} -->
    {% endfor %}
  </div>
</div>


{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/tops_redeem.js')}}"></script>
{% endblock %}
